.heading{
    font-size: 28px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    
}
.note{
    color: darkblue;
    font-size: 17px;
    font-weight: bold;

}
.copy_right_footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: pink;
    color: maroon;
    font-size: 24px;
    padding: 6px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 2;
}
canvas{
    border: 5px solid pink;
    border-radius: 20px;
    box-shadow: 5px 5px 5px red;

}
